ibm-cloud-sdk-core==3.20.6
ibm-platform-services==0.56.0
qiskit==0.45
qiskit-machine-learning==0.7.1
qiskit-algorithms==0.2.2
qiskit-ibm-runtime==0.19.0
qiskit-aer==0.14.1
qiskit-terra==0.45.0
pylatexenc
quask==2.0.0-alpha1
mushroom-rl
scikit-optimize
opytimizer==3.1.2